Repository ClearcodeHQ/pytest-postgresql: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipenv, black, ruff, mypy

pipenv:
  language: system
  name: Install dependencies for the local linters
  entry: pip install pipenv && pipenv install --dev
  pass_filenames: false

black:
  name: black
  entry: black
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: ruff check
  language: system

mypy:
  name: mypy
  entry: pipenv run mypy .
  language: system
  pass_filenames: false

Last doc fix
  README.rst
Due: none

Make local hooks work
  .pre-commit-config.yaml
  newsfragments/+293efc73.misc.rst
Due: none

Male pre-commit useful with standard hooks
  .pre-commit-config.yaml
  newsfragments/1062.misc.rst
Due: none

Keep linters in single place
  .github/workflows/linters.yml
  .pre-commit-config.yaml
  Pipfile
  newsfragments/1063.misc.rst
Due: none

Skip pre-commit checks for pre-commit actor
  .github/workflows/pr-check.yml
  newsfragments/+a82453f2.misc.rst
Due: none

Add [bot] suffix to pre-commit-ci actor name
  .github/workflows/pr-check.yml
  newsfragments/+4c68f493.misc.rst
Due: none

Run local/manual pre-commit hooks - closes #1055
  .github/workflows/linters.yml
  .pre-commit-config.yaml
  newsfragments/1055.misc.rst
Due: none

Pass all environment variables to initdb - closes #1076
  Pipfile
  newsfragments/1076.bugfix.rst
  pyproject.toml
  pytest_postgresql/executor.py
Due: pipenv, black, ruff, mypy

revisit pypy sypport in psycopg 3 - closes #707
  .github/workflows/single-postgres.yml
  .github/workflows/tests.yml
  Pipfile
  newsfragments/707.misc.rst
Due: none

Run xdist tests runs with -n auto flag - closes #1081
  .github/workflows/dockerised-postgres.yml
  .github/workflows/single-postgres.yml
  README.rst
  newsfragments/1081.misc.rst
  newsfragments/872.feature.rst
  pyproject.toml
  pytest_postgresql/config.py
  pytest_postgresql/factories/process.py
  pytest_postgresql/plugin.py
  tests/test_executor.py
  tests/test_template_database.py
Due: pipenv, black, ruff, mypy

Update documentation regarding pre-populating database - closes #895
  README.rst
  newsfragments/895.misc.rst
Due: none

Adjust workflows for actions-reuse 3
  .github/workflows/automerge.yml
  .github/workflows/build.yml
  .github/workflows/linters.yml
  .github/workflows/pr-check.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pypi.yml
  newsfragments/+23828db2.misc.rst
Due: none

Drop support for loading schema and data fixture from client fixture - closes #1087
  README.rst
  newsfragments/1087.break.rst
  pytest_postgresql/factories/client.py
  tests/conftest.py
  tests/docker/test_noproc_docker.py
  tests/test_postgresql.py
  tests/test_sql/test.sql
  tests/test_sql/test2.sql
Due: pipenv, black, ruff, mypy

fixup: failing tests
  pytest_postgresql/factories/process.py
  tests/docker/test_noproc_docker.py
Due: pipenv, black, ruff, mypy

Adjust links after repository transfer
  CHANGES.rst
  README.rst
  newsfragments/+39aa8afb.misc.rst
  pyproject.toml
Due: pipenv, mypy

Drop test database from noproc fixture, if exists - closes #265
  README.rst
  newsfragments/265.feature.1.rst
  newsfragments/265.feature.rst
  pytest_postgresql/config.py
  pytest_postgresql/factories/client.py
  pytest_postgresql/factories/noprocess.py
  pytest_postgresql/janitor.py
  pytest_postgresql/plugin.py
  tests/examples/test_drop_test_database.py
  tests/test_postgres_options_plugin.py
Due: pipenv, black, ruff, mypy

Release 7.0.0
  CHANGES.rst
  newsfragments/+08bdc5f7.misc.rst
  newsfragments/+0ff2173d.misc.rst
  newsfragments/+23828db2.misc.rst
  newsfragments/+293efc73.misc.rst
  newsfragments/+39aa8afb.misc.rst
  newsfragments/+4c68f493.misc.rst
  newsfragments/+7b6c5deb.misc.rst
  newsfragments/+98311d70.feature.rst
  newsfragments/+a82453f2.misc.rst
  newsfragments/+daad0af0.misc.rst
  newsfragments/+fb6c538e.break.rst
  newsfragments/1047.misc.rst
  newsfragments/1048.misc.rst
  newsfragments/1055.misc.rst
  newsfragments/1061.misc.rst
  newsfragments/1062.misc.rst
  newsfragments/1063.misc.rst
  newsfragments/1076.bugfix.rst
  newsfragments/1081.misc.rst
  newsfragments/1087.break.rst
  newsfragments/265.feature.1.rst
  newsfragments/265.feature.rst
  newsfragments/707.misc.rst
  newsfragments/872.feature.rst
  newsfragments/895.misc.rst
  pyproject.toml
  pytest_postgresql/__init__.py
Due: pipenv, black, ruff, mypy

Path conditions:
  pipenv: any of: \.py$, \.toml$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, \.toml$
